<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title></title>

    <!-- The javascript and css are managed by sprockets. The files can be found in the /assets folder-->
    <!--<script type="text/javascript" src="/javascripts/application.js"></script>-->
    <link rel="stylesheet" href="/stylesheets/application.css">

    <!--<link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>-->
    
    <!-- <link rel="icon" href="/assets/favicon.ico"> -->

  </head>
  <body>
    <div id="container">
      <div class="gridster ready" style="width: 1240px;">
        <ul style="height: 740px; position: relative;">
          <li>
            <div data-id="valuation" data-title="Clients Connected" data-moreinfo="In billions" data-prefix="$" class="widget widget-number valuation">
              <h1 class="title" data-bind="title">Clients Connected</h1>

              <h2 class="value"><%= @stats[:clients_connected] %></h2>
            </div>
          </li>
          <br>
          <li>
            <div data-id="valuation" data-title="Current Valuation" data-moreinfo="In billions" data-prefix="$" class="widget widget-number valuation">
              <h1 class="title" data-bind="title">Process ID</h1>

              <h2 class="value"><%= @stats[:pid] %></h2>
            </div>
          </li>
          <li>
            <div data-id="valuation" data-title="Current Valuation" data-moreinfo="In billions" data-prefix="$" class="widget widget-number valuation">
              <h1 class="title" data-bind="title">Memory Usage</h1>

              <h2 class="value"><%= @stats[:memory] %></h2>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>